* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #ffffff;
  color: rgb(38, 69, 113);
}

header {
  width: 100%;
  height: 90px;
  background-color: rgb(195, 255, 255);
}

.logo {
  max-width: 70px;
  height: auto;
  transition: 0.3s;
}
.logo:hover {
  transform: scale(1.05);
}

#nav-button-mod {
  border: 2px solid rgb(38, 69, 113);
}

#nav-titulo-mod {
  color: rgb(38, 69, 113);
  font-weight: bolder;
}

#nav-pad {
  --bs-nav-link-padding-y: 0;
  --bs-nav-link-color: $letterColor;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}
.nav-item:hover {
  --bs-nav-link-hover-color: white;
  background-color: rgb(38, 69, 113);
  border-radius: 20px;
  transition: 0.3s;
}
.nav-link {
  list-style-type: none;
  font-size: 1em;
  text-decoration: none;
  line-height: 70px;
  padding: 20px;
  color: rgb(38, 69, 113);
  background-color: none;
  border: none;
}

.footer-cont {
  display: grid;
  align-items: center;
  background: rgb(195, 255, 255);
  width: 100%;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding-top: 20px;
}
.footer-box h3 {
  color: black;
  font-size: 1.4rem;
  font-weight: 700;
}
.footer-box p {
  color: black;
  font-size: 0.8rem;
  text-align: center;
}
.footer-box a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-iconos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.footer-iconos a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  margin: 10px;
}
.footer-logo {
  width: 40px;
  height: auto;
  object-fit: cover;
  transition: 0.3s;
}
.footer-logo:hover {
  transform: scale(1.05);
}
.footer-copy {
  background-color: rgb(195, 255, 255);
  color: rgb(145, 145, 145);
  padding: 10px 10px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

figure {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoFooter {
  width: 120px;
  height: 120px;
  object-fit: cover;
  transition: 0.3s;
}
.logoFooter:hover {
  transform: scale(1.05);
}

.welcome-init, .welcome-init-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
  padding: 30px;
}
.welcome-init-box {
  flex-direction: column;
  width: 60%;
  height: auto;
  padding: 15px;
  gap: 15px;
}
.welcome-init-box h1 {
  font-family: "Bebas Neue", sans-serif;
  -webkit-text-stroke: 0.1px rgb(38, 69, 113);
  font-size: 80px;
  font-weight: bolder;
  font-style: normal;
  gap: 20px;
  background: linear-gradient(to bottom, rgb(195, 255, 255), rgb(38, 69, 113));
  color: transparent;
  background-clip: text;
}
.welcome-init-box-p1 {
  font-size: 20px;
  gap: 40px;
}
.welcome-init-box-link {
  list-style: none;
  text-decoration: none;
  gap: 20px;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid rgb(38, 69, 113);
  color: rgb(38, 69, 113);
  padding: 10px;
  transition: 0.3s;
}
.welcome-init-box-link:hover {
  color: white;
  background-color: rgb(38, 69, 113);
}
.welcome-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  text-align: center;
}
.welcome-products-descrip {
  width: 60%;
  margin: 10px;
  padding: 10px;
}
.welcome-products-descrip p {
  padding-top: 20px;
}
.welcome-products-card {
  flex-wrap: wrap;
  background-color: #f8f8f8;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 2px 6px rgb(38, 69, 113);
  transition: all 0.5s;
}
.welcome-products-card:hover {
  background-color: rgb(240, 255, 255);
  box-shadow: 2px 2px 16px rgb(38, 69, 113);
}
.welcome-products-card-img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0px 0px;
  object-fit: cover;
}
.welcome-products-card-descrip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
}
.welcome-products-link {
  margin: 25px 0px;
  padding: 20px;
  list-style: none;
  text-decoration: none;
  font-size: 24px;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid rgb(38, 69, 113);
  color: rgb(38, 69, 113);
  transition: 0.5s;
}
.welcome-products-link:hover {
  color: white;
  background-color: rgb(38, 69, 113);
}
.welcome-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: url(../assets/images/seccion-contacto.webp);
  text-align: center;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  padding: 40px;
}
.welcome-contacto-text {
  margin: 50px 0px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.616);
}
.welcome-contacto-text h3 {
  font-size: 35px;
  padding-bottom: 20px;
}
.welcome-contacto-text p {
  font-size: 20px;
}
.welcome-contacto a {
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.616);
  border-radius: 20px;
  border: 2px solid black;
  color: black;
  padding: 10px;
  transition: 0.5s;
}
.welcome-contacto a:hover {
  color: white;
  background-color: black;
}

#card-sinpadd {
  --bs-gutter-x: 0px;
}

.carousel {
  width: 70%;
  height: auto;
}
.carousel-img {
  border-radius: 0;
  object-fit: cover;
}

.linea-separadora {
  margin: 50px auto 0 auto;
  padding: 20px;
  border-top: 2px solid rgb(38, 69, 113);
  height: 10px;
  width: 80%;
}

.proyectos, .proyectos-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.proyectos-title h1 {
  margin: 10px;
  padding: 10px;
  text-shadow: 2px 2px 2px gray;
}
.proyectos-title-p, .contacto-title-p, .testimonios-title-p {
  width: 70%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  margin: 30px 0px;
  padding: 20px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  background-color: none;
  box-shadow: 2px 2px 10px black;
  transition: all 0.5s;
}
.proyectos-title-p:hover, .contacto-title-p:hover, .testimonios-title-p:hover {
  transform: scale(1.03);
  box-shadow: 3px 3px 15px black;
  background-color: rgb(240, 255, 255);
}
.proyectos-box {
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.proyectos-box h4 {
  font-size: 34px;
}

.row {
  margin: 0;
  justify-content: space-around;
}

.card {
  --bs-border-color-translucent: none;
  --bs-border-radius: 10px;
  width: 400px;
  height: auto;
  border-radius: 0;
  object-fit: cover;
  margin: 10px 0;
  padding: 0;
}
.card-img-top {
  border-radius: 10px;
}

.accordion {
  --bs-primary-bg-subtle: azure;
  --bs-accordion-btn-focus-border-color:rgb(38, 69, 113);
  --bs-body-color: #000000;
  --bs-border-color: rgb(38, 69, 113);
}

.accordion-body {
  border: 1px solid rgb(38, 69, 113);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 2px 2px 10px 2px rgb(9, 28, 53);
}

.testimonios, .testimonios-box-opinion-text, .testimonios-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
  text-align: center;
}
.testimonios-title h1 {
  padding: 5px;
  text-shadow: 2px 2px 2px gray;
}
.testimonios-box-opinion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 70%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  background-color: none;
  padding: 15px;
  border: 2px solid rgb(38, 69, 113);
}
.testimonios-box-opinion:hover {
  background-color: rgb(240, 255, 255);
  box-shadow: 3px 3px 13px 5px rgba(17, 17, 17, 0.1607843137);
}
.testimonios-box-opinion-text {
  gap: 15px;
}
.testimonios-box-opinion-img {
  width: 50%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  filter: blur(5px);
  transition: 0.1s;
}
.testimonios-box-opinion-img:hover {
  filter: blur(0);
}

.contacto, .contacto-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.contacto-title {
  text-align: center;
  margin: 20px;
  padding: 20px;
}
.contacto-title h1 {
  margin: 20px;
  padding: 20px;
  text-shadow: 2px 2px 2px gray;
}
.contacto-box {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px 20px;
  margin: 40px;
  background-color: rgb(38, 69, 113);
  border-radius: 20px;
  box-shadow: 2px 2px 10px black;
}
.contacto-box-form {
  flex-direction: column;
  gap: 15px;
  width: 50%;
  height: 100%;
  grid-area: form;
  padding-left: 10px;
}
.contacto-box iframe {
  width: 50%;
  min-height: 400px;
  max-height: 100%;
  border-radius: 20px;
  transition: 0.3s;
  box-shadow: 2px 2px 10px black;
}
.contacto-box iframe:hover {
  transform: scale(1.03);
  box-shadow: 3px 3px 20px black;
}
.contacto-box .button-cont {
  --bs-btn-bg: rgb(2, 20, 44);
  --bs-btn-border-color: black;
  --bs-btn-hover-bg: rgb(114, 173, 224);
  --bs-btn-hover-border-color: rgb(114, 173, 224);
  transition: 0.2s;
  box-shadow: 1px 1px 5px black;
  transition: 0.3s;
}
.contacto-box .button-cont:hover {
  color: black;
  box-shadow: 3px 3px 20px black;
}

.form-label {
  color: white;
}

.form-control {
  box-shadow: 2px 2px 10px black;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.about h1 {
  padding: 5px;
  text-shadow: 2px 2px 2px gray;
}
.about-box-equipo {
  text-align: center;
  gap: 5px;
}
.about-box-equipo h2 {
  font-size: 32px;
}
.about-box-equipo-card, .about-box-instrum-card {
  --bs-gutter-x: 0;
  --bs-border-color-translucent: rgb(38, 69, 113);
  background-color: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-left: 0;
  transition: all 0.2s;
}
.about-box-equipo-card:hover, .about-box-instrum-card:hover {
  transform: translateY(10px);
  background-color: rgb(240, 255, 255);
  box-shadow: 3px 3px 13px 5px rgba(1, 16, 30, 0.9098039216);
}
.about-box-equipo-card img, .about-box-instrum-card img {
  border-radius: 10px;
  object-fit: cover;
}
.about-box-equipo-card-body {
  padding: 10px;
}
.about-box-equipo-card-body h3 {
  padding-bottom: 10px;
  font-size: 20px;
}
.about-box-equipo-card-body p {
  text-align: left;
}
.about-box-rec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 40px;
  background: url(../assets/images/equipo.webp);
  margin: 0;
  text-align: center;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}
.about-box-rec-p {
  margin: 50px 0px;
  padding: 50px;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.759);
}
.about-box-descrip p {
  background-color: rgb(240, 255, 255);
  margin: 30px;
  padding: 20px;
  font-size: 17px;
  text-align: left;
  line-height: 40px;
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 2px 2px 10px black;
  transition: all 0.3s;
}
.about-box-descrip p:hover {
  transform: scale(1.03);
  box-shadow: 3px 3px 15px black;
}
.about-box-instrum {
  width: 70%;
  align-items: center;
}
@media (min-width: 950px) {
  .carousel-img {
    width: 100%;
    height: auto;
    border-radius: auto;
    object-fit: cover;
  }
}
@media (max-width: 950px) {
  .welcome-init, .welcome-init-box {
    flex-direction: column;
  }
  .welcome-init img, .welcome-init-box img {
    width: 100%;
    height: auto;
    border-radius: auto;
    object-fit: cover;
  }
  .welcome-init-box {
    width: 100%;
    height: auto;
    border-radius: auto;
    object-fit: cover;
  }
  .welcome-init-box h1 {
    transition: 0.3s;
    font-size: 60px;
  }
  .welcome-init-box-p1, .welcome-init-box-p2 {
    transition: 0.5s;
    font-size: smaller;
  }
  #nav-pad {
    align-items: flex-start;
  }
  .nav-item:hover {
    background-color: none;
  }
  .contacto-box {
    flex-direction: column;
  }
  .contacto-box iframe {
    width: 100%;
    height: auto;
  }
  .contacto-box-form {
    width: 100%;
    height: auto;
  }
  .proyectos-title-p, .testimonios-title-p, .contacto-title-p {
    width: 100%;
    font-size: 12px;
    transition: 0.3s;
  }
  .carousel {
    width: 60%;
  }
}
@media (max-width: 1060px) {
  .testimonios-box-opinion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80%;
    height: auto;
  }
  .testimonios-box-opinion-img {
    width: 100%;
    height: auto;
  }
  .testimonios-box-opinion-text {
    font-size: smaller;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .footer-cont {
    display: flex;
    flex-direction: column;
  }
  .carousel {
    width: 100%;
    transition: 0.3s;
  }
}
@media (max-width: 660px) {
  .welcome-init-box h1 {
    transition: 0.3s;
    font-size: 45px;
  }
  .welcome-init-box-p1, .welcome-init-box-p2 {
    transition: 0.5s;
    font-size: smaller;
  }
}
@media (min-width: 660px) {
  .welcome-init-box h1 {
    transition: 0.3s;
  }
  .welcome-init-box-p1, .welcome-init-box-p2 {
    transition: 0.5s;
  }
}
@media (max-width: 768px) {
  .about-box-equipo {
    width: 70%;
    height: auto;
    transition: 0.5s;
  }
}

/*# sourceMappingURL=styles.css.map */
