* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color:rgb(38, 69, 113);
}

header{
  width: 100%;
  background-color: rgb(195, 255, 255);
}

.logo {
    max-width: 120px;
    height: auto;
}

#nav-pad
{
  --bs-nav-link-padding-y: 0;
  --bs-nav-link-color: rgb(38, 69, 113);
}

.nav-item:hover{
  --bs-nav-link-hover-color: white;
  background-color:rgb(38, 69, 113);
  border-radius: 20px;
}

.nav-link{
  list-style-type: none;
  font-size: 1em;
  text-decoration: none;
  line-height: 70px;
  padding: 20px;
  color: rgb(38, 69, 113);
  background-color: none;
  border: none;
}

/* welcome */

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 30px;
}

.welcome img {
  width: 50%;
  height: auto;
  object-fit: cover;
}
.welcome-box {
  width: 50%;
  height: auto;
  padding: 15px;
  display: flex;
  gap: 100px;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.welcome-text h1{
  font-size: 24px;
  text-transform: uppercase;
  gap: 20px;
}

.welcome-text p1{
  font-size: 20px;
  gap: 40px;
}

.welcome-text a{
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  align-self: flex-start;
  gap: 20px;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #9000ff;
  color: rgb(38, 69, 113);
  padding: 10px;
}

.welcome-text a:hover{
  color: white;
  background-color:#9000ff;
}




/* testimonios */

.testimonios{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 30px;
}

.testimonios img
{
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.box-opinion{
  width: 70%;
  background-color: none;
  text-align: center;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid #9000ff;
  display: flex;
  gap: 15px;
}

.box-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.box-text h2{
  text-transform: uppercase;
}

/* contacto */

.form-contacto {
  display: flex;
  align-items: center;
  padding: 50px 20px;
  gap: 50px;
}

form {
  justify-content: center;
  align-items: center;
  gap: 15px;
  grid-area: form;
  height: 100%;
  width: 50%;
}

.form-contacto iframe {
  width: 50%;
  min-height: 600px;
  max-height: 100%;
}

form label {
  font-size: 20px;
  align-self: flex-start;
}

form input,
form textarea {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid rgb(38, 69, 113);
  color: rgb(38, 69, 113);
}

/* diseños */

.diseños div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.diseños h1{
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 30px;
}

.diseños img{
  max-width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  border: 5px solid rgb(195, 255, 255);
}

/* about */

.about-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.about-box h1{
  padding: 10px;
  text-transform: uppercase;
}

.about-box img{
  max-width: 600px;
  height: auto;
  object-fit: cover;
}


@media (max-width:768px) {
  .welcome {
    display: flex;
    flex-direction: column;
  }
  .welcome img {
    width: 100%;
    height: auto;
  }
  .welcome-box {
    width: 100%;
    height: auto;
  }

  #nav-pad
  {
    align-items: center;
    padding: 10px;
  }
  .nav-item:hover{
    background-color: none;
  }
}


@media (min-width:1024px) {
  .form {
    flex-direction: row-reverse;
  }

  form {
    width: 50%;
  }

  .form iframe {
    width: 50%;
    min-height: 600px;
    max-height: 100%;
  }
}