.contacto {
    @include flexible(column, center, center, 20px);
    &-title{
        @extend .contacto;
        text-align: center;
        @include margin-pad(20px, 20px);
        h1{
            @include margin-pad(20px, 20px);
            text-shadow: 2px 2px 2px gray;
        }
        &-p{
            @extend .proyectos-title-p;
        }
    }
  
    &-box{
        width: 90%;
        @include flexible(row, center, center, 50px);
        padding: 50px 20px;
        margin: 40px;
        background-color: $letterColor;
        border-radius: 20px;
        box-shadow: 2px 2px 10px black;
        &-form{
            flex-direction: column;
            gap: 15px;
            width: 50%;
            height: 100%;
            grid-area: form;
            padding-left: 10px;
        }
        iframe{
            width: 50%;
            min-height: 400px;
            max-height: 100%;
            border-radius: 20px;
            transition: 0.3s;
            box-shadow: 2px 2px 10px black;
            &:hover{
                transform: scale(1.03);
                box-shadow: 3px 3px 20px black;
            }
        }
        .button-cont{
            --bs-btn-bg: rgb(2, 20, 44);
            --bs-btn-border-color: black;
            --bs-btn-hover-bg: rgb(114, 173, 224);
            --bs-btn-hover-border-color: rgb(114, 173, 224);
            transition: 0.2s;
            box-shadow: 1px 1px 5px black;
            transition: 0.3s;
            &:hover{
                color: black;
                box-shadow: 3px 3px 20px black;

            }
        }
    }
}

.form-label{
    color: white;
}

.form-control{
    box-shadow: 2px 2px 10px black;
}