@media (min-width:950px) {

    .carousel-img {
      @include area_desing_components(100%, auto, auto);
    }
}
  
@media (max-width:950px) {
  .welcome-init{
    flex-direction: column;
    img {
      @include area_desing_components(100%, auto, auto);
    }
    &-box {
      @include area_desing_components(100%, auto, auto);
      h1{
        transition: 0.3s;
        font-size: 60px;
      }
      &-p1, &-p2{
        transition: 0.5s;
        font-size: smaller;
      }
    }
  }
  #nav-pad
  {
    align-items: flex-start;
  }
  .nav-item:hover
  {
    background-color: none;
  }

  .contacto-box
  {
    flex-direction: column;
    iframe
    { 
      width: 100%;
      height: auto;
    }
    &-form{
      width: 100%;
      height: auto;
    }
  }
  .proyectos-title-p{
    width: 100%;
    font-size: 12px;
    transition: 0.3s;
  }

  .carousel
  {
    width: 60%;
  }
}

@media (max-width:1060px) {
  .testimonios-box-opinion
  {
    @include flexible(column, center, center, 10px);
    width: 80%;
    height: auto;

    &-img
    {
      width: 100%;
      height: auto;
    }
  
    &-text
    {
      font-size: smaller;
      width: 100%;
    }
  }
}

@media(max-width:600px)
{
  .footer-cont
  {
    display: flex;
    flex-direction: column;
  }

  .carousel
  {
    width: 100%;
    transition: 0.3s;
  }
}
@media(max-width:660px)
{
  .welcome-init-box
  {
    h1{
      transition: 0.3s;
      font-size: 45px;
    }
    &-p1, &-p2{
      transition: 0.5s;
      font-size: smaller;
    }

  }
}
@media(min-width:660px)
{
  .welcome-init-box
  {
    h1{
      transition: 0.3s;
    }
    &-p1, &-p2{
      transition: 0.5s;
    }

  }
}

@media(max-width:768px)
{
  .about-box-equipo
  {
    width: 70%;
    height: auto;
    transition: 0.5s;
  }
}