.testimonios{
    @include flexible(column, center, center, 30px);
    padding: 30px;
    text-align: center;
    &-title{
        @extend .testimonios;
        h1{
            padding: 5px;
            text-shadow: 2px 2px 2px gray;
        }
        &-p{
            @extend .proyectos-title-p;
        }
    }
    
    &-box-opinion{
        @include flexible(row, center, center, 15px);
        @include area_desing_components(70%, auto, 20px);
        background-color: none;
        padding: 15px;
        border: 2px solid $letterColor;
        &:hover {
            background-color: $componentsColor;
            box-shadow: 3px 3px 13px 5px #11111129;
        }
        &-text{
            @extend .testimonios;
            gap: 15px;
        }
        &-img {
            @include area_desing_components(50%, 100%, 20px);
            filter: blur(5px);
            transition: 0.1s;
            &:hover{
                filter: blur(0);
            }
        }
    }
}

