.testimonios{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
    img
    {
        width: 50%;
        height: 100%;
        object-fit: cover;
    }
  
    &-box-opinion{
        width: 70%;
        background-color: none;
        text-align: center;
        padding: 15px;
        border-radius: 20px;
        border: 2px solid $componentsColor;
        display: flex;
        gap: 15px;
    }
  
    &-box-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
}